<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.instagram.com/offx.sanjeev/"><i class="fa-brands fa-square-facebook"></i></a>
            
            <a href="https://www.instagram.com/offx.sanjeev/"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://www.linkedin.com/in/sanjeev-singh-saini-bbb753181/"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="f-info-brand">&copy; Yours Truly</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/ terms"> terms</a>
        </div>
    </div>
</footer>